@charset "utf-8";
/* CSS Document */
body {
  font-family: 'Poppins', sans-serif;
	/*font-family: 'Source Sans Pro', sans-serif;*/
}
a:focus, .btn:focus {
	outline: none;
	outline-offset: 0px; 
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
}
ul {
	padding: 0px;
	margin: 0px;
}
ul li {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
} 
.relative {
  position: relative;
}
.pdTop {
  padding-top: 0 !important;
}
section {
	position: relative; 
	overflow: hidden;
}
.relative {
  position: relative;
}
#toTop {
	position: fixed;
	bottom: 0px;
	right: 10px;
	height: 40px;
	width: 40px;
	background: #7ed956;
	color: #fff;
	text-shadow: 0 0 1px #7ed956;
	line-height: 28px;
	border-radius: 0%;
	cursor: pointer;
	display: none;
	font-size: 20px;
	z-index: 1111;
}
#toTop:after {
	position: absolute;
	left: 0;
	top: 0px;
	content: '';
	z-index: -1;
	border-top: 38px solid #7ed956;
	border-right: 38px solid transparent;
}
#toTop:before {
	position: absolute;
	left: 0;
	top: 0px;
	content: '';
	z-index: -1;
	border-top: 38px solid #7ed956;
	border-left: 38px solid transparent;
}
/*---sticky header------*/
@-webkit-keyframes top-animation {
 0% {
top: -82px;
}
 100% {
top: 0px;
}
}
@-moz-keyframes top-animation {
 0% {
top: -82px;
}
 100% {
top: 0px;
}
}
@-o-keyframes top-animation {
 0% {
top: -82px;
}
 100% {
top: 0px;
}
}
@keyframes top-animation {
 0% {  
top: -82px;
}
 100% {
top: 0px;
} 
}
/*---------------Hack css for Safari-----------*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

}
/*---------------Hack css for Google Chrome-----------*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
 
}
/*--------------sticky-header----------*/
header.custom-header {
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  z-index: 999;
}
.sticky-header .custome-navbar {
  animation: 0.6s ease 0s normal none 1 running top-animation;
  background-color: #ffffff;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}
.toggle-menu {
  display:none;	
}
/*-------------header--------------*/
.custome-navbar {
 background: transparent none repeat scroll 0 0;
  padding: 20px 100px 20px 50px;  
  /*left: 0;
  position: absolute;
  top: 40px;*/
  width: 100%;
  z-index: 999;
  height:90px;
  position: relative;
  /*box-shadow: 0 2px 5px #e5e5e5;*/
}
.logo {
  float: left;
}
.login-logo {
  padding-bottom: 20px;
}
.logo {
  left: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
.logo a, .login-logo a {
  display: block;
  color: #353535;
  font-size: 26px;
  font-weight: 800;
  /*margin-top: 7px;*/
  padding:3px;
  text-transform: uppercase;
}
.login-logo a {
  text-align: center;
}
.logo img {
  width: 127px;
}
.login-logo img {
  width: 200px;
}
.navbar-right {
  float: right;
  margin:0 0 0;
}
.social-left.fixedSocials {
  position: fixed;
  left: 0;
  top:50%;
  -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);
}
.social-left.fixedSocials li { 
  float: none;
  width: 30px;
}
.social-left ul li {
  float: left;
}
li.calling-link {
  color: #fff;
  float: left;
  letter-spacing: 0.8px;
  margin-left: 20px;
}
.calling-link > a {
  color: #ffffff;
}
.actorSocial .fa.fa-facebook, .footer-social .fa.fa-facebook, .social-left.fixedSocials .fa.fa-facebook {
  background: #3c5a99;
}
.actorSocial .fa.fa-envelope, .footer-social .fa.fa-envelope, .social-left.fixedSocials .fa.fa-envelope {
  background: #b23121;
}
.actorSocial .fa.fa-twitter, .footer-social .fa.fa-twitter, .social-left.fixedSocials .fa.fa-twitter, .fixedSocials .fa.fa-linkedin, .menuSocials .fa.fa-linkedin {
  background: #1da1f2;
}
.actorSocial .fa.fa-instagram, .footer-social .fa.fa-instagram, .social-left.fixedSocials .fa.fa-instagram {
  background: #B300B0 none repeat scroll 0 0;
}
.fixedSocials .fa.fa-headphones {
  background: #79B502;
}
.social-left ul li i, .calling-right ul li i, .footer-social a i {
  background: #5d5d5d;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  -webkit-transition: all 0.3s ease-in 0s;
     -moz-transition: all 0.3s ease-in 0s;
      -ms-transition: all 0.3s ease-in 0s;
       -o-transition: all 0.3s ease-in 0s;
          transition: all 0.3s ease-in 0s;
}
.fixedSocials ul li {
  position: relative;
}
.iconOverlay {
  position: absolute;
  top: 0;
  left: -70px;
  height: 100%;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  background: #000;
  color: #fff;
  min-width: 30px;
  text-align: left;
  padding: 0 10px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
.fixedSocials ul li:hover .iconOverlay {
  left:30px;
  opacity: 1;
  visibility: visible;
}
.menus li {
  display: inline-block;
  position: relative;
}
.menus a, .sideNavToggle a.color-red {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding:0 15px;
  position:relative;
  text-transform: capitalize;
   transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  -ms-transition: all 500ms ease-in-out 0s;
}
.menus > li > a {
  line-height: 50px;
}
.menus a:hover, .sticky-header .menus a:hover {
  color:#F13338;  
} 
/*-------menu social icon-----*/
.footer-social.menuSocials {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-social.menuSocials ul li a i {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 0;
  font-weight: 500;
}
.footer-social.menuSocials ul li {
  width: 25%;
  float: left;
  margin: 0;
}
.categoryList {
  position: absolute;
  top: 100px;
  right: 0;
  width: 600px;
  padding: 30px 15px 15px;
  background: #201E1F;
  border-radius: 5px 5px 0 0;
  border-top: 2px solid #F13338;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in 0s;
     -moz-transition: all 0.3s ease-in 0s;
      -ms-transition: all 0.3s ease-in 0s;
       -o-transition: all 0.3s ease-in 0s;
          transition: all 0.3s ease-in 0s;
}
.categoryList::after {
  position: absolute;
  top: -12px;
  right: 25px;
  border-bottom: 10px solid #F13338;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
}
.menus li:hover .categoryList {
  top: 50px;
  visibility: visible;
  opacity: 1;
}
.categoryList ul {
  margin: 0 -15px;
}
.categoryList li {
  width: 50%;
  float: left;
  margin: 0 0 15px;
  padding: 0 15px;
  position: relative;
}
.categoryList li a {
  position: relative;
  padding-left: 25px;
}
.categoryList li a:focus, .categoryList li a:hover, .categoryList li.active a {
  padding-left: 30px;
}
.categoryList li a::before {
  content: "";
  width: 15px;
  height: 2px;
  background: #fff;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: .3s ease 0s;
}
.categoryList li a:focus::before, .categoryList li a:hover::before, .categoryList li.active a::before {
  width: 20px;
  background: #F13338;
}
.sideNavToggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 35px 13px;
  height: 100%;
  background: #F13338;
  cursor: pointer;
}
.sticky-header .menus a, .dashboardPage .menus a {
  color: #808080; 
}
/*--------slide menu---------*/
.sidemenu, .sidenav-overlay {
  position: fixed;
  height: 100%;
  z-index: 999;
}
.sidemenu {
  width: 490px;
  background: #201E1F;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: all .6s ease;
  padding: 150px 55px 160px;
  visibility: hidden;
  bottom: 0;
}
.sidemenu {
  padding: 170px 40px 40px;
}
.sidenavLogo {
  left: 40px;
  top: 50px;
}
.sidenavLogo {
  position: absolute;
  left: 40px;
  top: 55px;
}
.sidenavLogo, .sidemenu-list {
  transition: transform .5s .4s ease,opacity .5s .4s ease;
  -ms-transition: transform .5s .4s ease,opacity .5s .4s ease;
  -moz-transition: transform .5s .4s ease,opacity .5s .4s ease;
  -webkit-transition: transform .5s .4s ease,opacity .5s .4s ease;
}
.sidemenu-list, .sidenavLogo {
  opacity: 0;
  transform: translateY(75px);
  -ms-transform: translateY(75px);
  -moz-transform: translateY(75px);
  -webkit-transform: translateY(75px);
}
.menuOpened .sidemenu-list, .menuOpened .sidenavLogo {
  opacity: 1;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
}
.smallHead {
  color: #F13338;
}
.sidemenu-list li.active a {
  font-size: 20px;
}
.sidemenu-list li a {
  display: block;
  font-size: 18px;
  color: #fff;
  position: relative;
  font-weight: 600;
  transition: .3s ease 0s;
  padding: 10px 0 10px 0;
}
.sidemenu-list li a:focus, .sidemenu-list li a:hover, .sidemenu-list li.active a {
  padding-left: 45px;
}
.sidemenu-list li a::before {
  content: "";
  width: 0;
  height: 3px;
  background: #ed1c24;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: .3s ease 0s;
}
.sidemenu-list li a:focus::before, .sidemenu-list li a:hover::before, .sidemenu-list li.active a::before {
  width: 30px;
}
.menuOpened .sidemenu {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}
.closeSidenav {
  position: absolute;
  top: 15px;
  right: 15px;
}
.closeSidenav img { 
  width: 35px;
}
/*----search box------*/
.search-box {
  height: 90px;
  width: 90px;
  position: fixed;
  top: 30px;
  right: 0;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
  background: #7ed956;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #7ed956;
  -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
.search-box::after {
  position: absolute;
  left: -100%;
  top: 0%;
  background: #282e3f;
  content: "";
  width: 100%;
  height:100%;
  z-index: -1;
  -webkit-transition: all 0.6s ease-in 0s;-moz-transition: all 0.6s ease-in 0s;-ms-transition: all 0.6s ease-in 0s;-o-transition: all 0.6s ease-in 0s;transition: all 0.6s ease-in 0s;
}
.sticky-header .search-box {
  top:0;
}
.search-box:hover {
  background: transparent;
}
.search-box:hover::after{
  left: 0%;
}
.search-box img {
  width: 35px;
}
.closer {
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
}
.master-searcher {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0px auto;
  -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);
}
.closer img {
  width: 40px;
}
.master-search {
  position: fixed;
  top: -100%;
  padding: 50px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  z-index: 9999;
  right: 0%;
  -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
.open-serch .master-search {
  top: 0;
}
.master-searcher .form-control {
  background: transparent;
  font-size: 50px;
  height: auto;
  padding: 25px 0;
  letter-spacing: 1.5px;
}
/*.sticky-header .custome-navbar{
  position: fixed;

}*/
/*-----------End sticky header-------------------*/
/*----------------Login / Registration-----------*/
.login-here {
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.login-here::after {
  position: absolute;
  left: 0;
  top: 0;
  background:rgba(0,0,0,0.2);
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
}
.login-screen {
  background: #fff none repeat scroll 0 0;
  left: 0;
  position: fixed;
  max-height: 100%;
  width: 70%;
  z-index: 2;
  margin: 0px auto;
  right: 0;
  top: 50px;
  bottom: 50px;
}
.login-here .login-screen form {
  left: 0;
  padding: 30px;
  position: relative;
  /*top: 50%;
  transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);-webkit-transform: translateY(-50%);*/
  width: 100%;
}
.registerHead {
  padding: 30px 30px 0 30px;
}
.login-here .login-screen h3 {
  color: #333333;
  font-size: 39px;
  font-weight: 700;
  padding-bottom: 30px;
}
.login-here .login-screen h3 span {
  color: #F13338;
}
.form-control {
  background-color: #fff;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: ;
  box-shadow: none;
  color: #555555;
  height: 40px;
  padding: 6 12px;
  width: 100%;
  font-size: 14px;
}
.input-group-addon {
  border-radius: 0;
}
label.name-label {
  color: #353535;
  font-size: 14px;
  font-weight: 400;
}
.form-control:focus {
  box-shadow: none;
}
/*-------Harshad custom check box----------*/
input.style-checkbox[type="checkbox"] { display: none; }
input.style-checkbox[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #999999;
  cursor: pointer;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input.style-checkbox[type="checkbox"] + label:last-child { margin-bottom: 0; }
input.style-checkbox[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #999999;
  position: absolute;
  left: 0;
  top: 6px;
  opacity: 0.8;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
input.style-checkbox[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 3px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-color: transparent #1087ed #1087ed transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.custom-btn {
  background: #F13338 none repeat scroll 0 0;
  border-width: 2px;
  border-color: #F13338;
  border-radius: 0;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  min-width: 230px;
  line-height: 32px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;
}
.custom-btn::after {
  background: #282e3f none repeat scroll 0 0;
  bottom: 0px;
  content: "";
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transform: translateX(-100%);-moz-transform: translateX(-100%);-ms-transform: translateX(-100%);-o-transform: translateX(-100%);transform: translateX(-100%);
  transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;
  z-index: 0;
}
.custom-btn span {
  z-index: 1;
}
.featureForm .custom-btn::after {
  z-index: 0;
}
.btn.custom-btn > span {
  position: relative;
  z-index: 1;
}
.custom-btn:hover{
  background:transparent;
}
.custom-btn:hover::after{
  -webkit-transform: translateX(0%);-moz-transform: translateX(0%);-ms-transform: translateX(0%);-o-transform: translateX(0%);transform: translateX(0%);
}
/*-----------------------banner------------------*/
#banner-slider .item {
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  font-size: 25px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 50px;
  z-index: 1;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover{
  background: #201E1F;
}
.owl-next {
  bottom: 0;
  right: 0;
}
.owl-prev {
  bottom: 0;
  left: 0;
}
.owl-controls{
  margin: 0 !important;
}
#banner-slider .owl-dots {
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}
.banner-caption {
  color: #ffffff;
  left: 0;
  padding: 130px 50px 0;
  position: absolute;
  top: 50%;
  width: 50%;
  z-index: 5;
  -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);
}
.banner-caption h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 55px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);-ms-transform: translateY(-100%);-o-transform: translateY(-100%);transform: translateY(-100%);
  -webkit-transition: all 0.8s ease-in 0s;-moz-transition: all 0.8s ease-in 0s;-ms-transition: all 0.8s ease-in 0s;-o-transition: all 0.8s ease-in 0s;transition: all 0.8s ease-in 0s;
}
.banner-caption p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 28px;
  opacity: 0;
  visibility: hidden;  
  margin: 20px 0 30px;  
  -webkit-transform: translateY(100%);-moz-transform: translateY(100%);-ms-transform: translateY(100%);-o-transform: translateY(100%);transform: translateY(100%);
  -webkit-transition: all 0.8s ease-in 0s;-moz-transition: all 0.8s ease-in 0s;-ms-transition: all 0.8s ease-in 0s;-o-transition: all 0.8s ease-in 0s;transition: all 0.8s ease-in 0s;
}
#banner-slider .banner-caption .custom-btn {
   opacity: 0;
  visibility: hidden;    
  -webkit-transform: translateY(100%);-moz-transform: translateY(100%);-ms-transform: translateY(100%);-o-transform: translateY(100%);transform: translateY(100%);
  -webkit-transition: all 0.8s ease-in 0s;-moz-transition: all 0.8s ease-in 0s;-ms-transition: all 0.8s ease-in 0s;-o-transition: all 0.8s ease-in 0s;transition: all 0.8s ease-in 0s;
}
#banner-slider .owl-item.active .banner-caption h2, #banner-slider .owl-item.active .banner-caption p, #banner-slider .owl-item.active .banner-caption .custom-btn {
  -webkit-transform: translateY(0%);-moz-transform: translateY(0%);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0%);
  visibility: visible;
  opacity: 1;
}
/*-----------Registration buttons for both users--------------*/
a.quickRegister {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: relative;
  color:#fff;
  -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
.quickRegister.artistRegister:hover {
  color: #201E1F;
}
.quickRegister.requiterRegister:hover {
  color: #F13338;
}
.artistRegister {
  background: #F13338;
}
.requiterRegister {
  background: #201E1F;
}
.quickRegister.artistRegister::before {
  position: absolute;
  top: 0;
  right: -26px;
  width: 60px;
  height: 101%;
  background: #F13338;
  content: "";
  transform: skewX(30deg);
  z-index: 1;
}
/*-----------platinum artist-----*/
.platinumArtist {
  padding: 50px 0;
  background: #fafafa;
}
.artPortfolio {
  position: relative;
  overflow: hidden;
}
.artistGallery {
  padding: 50px 50px 0;
}
.artistSlideList {
  margin: 0 -15px;
}
.artGallery li .artPortfolio {
  margin: 0 0 15px;
}
ul.artGallery li:last-child {
  margin:0;
}
.artGallery li {
  width: 100%;
  float: left;
  padding: 0 15px;
  margin-bottom: 15px;
}
.artImage {
  overflow: hidden;
}
.artImage img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in 0s;
     -moz-transition: all 0.3s ease-in 0s;
      -ms-transition: all 0.3s ease-in 0s;
       -o-transition: all 0.3s ease-in 0s;
          transition: all 0.3s ease-in 0s;
}
.artPortfolio:hover img {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
}
.social-left.actorSocial {
  position: absolute;
  top: -100%;
  visibility: hidden;
  opacity: 0;
  right: 0;
  width: 30px;
  -webkit-transition: all 0.3s ease-in 0s;
     -moz-transition: all 0.3s ease-in 0s;
      -ms-transition: all 0.3s ease-in 0s;
       -o-transition: all 0.3s ease-in 0s;
          transition: all 0.3s ease-in 0s;
}
.artPortfolio:hover .social-left.actorSocial {
  top: 0;
  visibility: visible;
  opacity: 1;
}
.social-left.actorSocial li {
  width: 100%;
  padding: 0;
  margin: 0;
  float: none;
}
h3.artName > a {
  color: #353535;
  display: block;
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}
p.artDetailsCat {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  bottom: 5px;
  padding: 5px 15px;
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
}
/*-----------about us------------*/
.about-us {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.bg-full {
  background: #ffffff none repeat scroll 0 0;
  padding: 50px 30px;
  width: 100%;
}
.home-heading h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 50px;
  position: relative;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.about-image {
  float: left;
  margin: 0 30px 10px 0;
  width: 50%;
}
.home-heading h3::after {
  background: #201E1F none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  position: absolute;
  width: 80px;
  margin: 0px auto;
}
.home-heading h3::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: 0px auto;
  width: 10px;
  height: 10px;
  content: "";
  background: red;
  transform: rotate(-45deg);
  z-index: 1;
  box-shadow: 0 0 0px 2px #fff inset;
}
.productGallery .home-heading h3::after {
    margin: 0 auto;
    right: 0;
    bottom: 0px;
}
.home-heading h3 span.cng-clr, .cng-clr {
  color:#F13338;
}
.con-info .cng-clr, .cust-tabpanel .cng-clr {
  color: #1087ed;
  display: inline-block;
}
a.cng-clr{
  color: #F13338;
  display: inline-block;
}
.home-sub-heading {
  color: #858585;
  font-size: 18px;
  font-weight: 300;
}
.about-left {
  float: left;
  width: 25%;
  position: relative;
  z-index: 2;
}
.about-middle {
  float: left;
  width: 30%;
  position: relative;
  z-index: 2;
} 
.about-middle .bg-full {
  background: #ffffff none repeat scroll 0 0;
}
.about-middle h5 {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 30px;
}
.content-block > p, .content-block p {
  color: #858585;
  font-size: 15px;
  line-height: 30px;
  margin: 15px 0 0;
}
.about-us::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0,0,0,0.5);
  content: "";
}
.h-scroll {
  display: block;
  height: 315px;
  overflow: auto;
}
.cust-tabpanel .nav.nav-tabs li a {
  background-color: transparent;
  border-color: rgba(0, 0, 0,0.2);
  border-radius: 0;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.4s linear 0s;
  color: #353535;
  border-bottom: 0;
}
.cust-tabpanel .nav.nav-tabs li.active a {
  background-color:#7ed956;
  color: #ffffff;
}
.cust-tabpanel .media-body {
  padding: 0 0 0 20px;
}
/*-----------current worked sites----------*/
.content-block.contentGrid {
  margin: 50px 0 0;
}
span.iconImg img { 
  width: 40px;
}
p.middleHeading {
  color: #39AB32;
  font-size: 16px;
  font-weight: 500;
}
.currentSitesBlock .item .sitesNameAddress {
  align-items: center;
  background: rgba(255,255,255,.90);
  border-radius: 0px;
  bottom: 0px;
  color: #353535;
  display: flex;
  left: 0px;
  padding: 10px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  -webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0);
  -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
.nameAddContent > h3 {
  color: #353535;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 10px;
}
.nameAddContent > p {
  color: #606060;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.currentSitesBlock .item:hover .sitesNameAddress {
  -webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);
}
.currentSitesBlock .owl-theme .owl-controls .owl-nav [class*="owl-"] {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  position: absolute;
  width: 100px;
}
/*----------Our Gallery Section------------*/
.productGallery {
  padding: 50px 30px;
}
/************filter option plugin css here*******************/
#portfoliolist .portfolio {
  display:none;
}
.portfolio img {
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);   
}
.filter.active {
  display: inline-block !important;
}
/*--------product sorter---------*/
.product-filter {
  margin: 40px 0 0;
}
.custom-filter.text-center > li {
  display: inline-block;
  margin: 0 10px;
}
.custom-filter li a {
  background: transparent none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 25px;
  color: #39AB32;
  display: inline-block;
  font-size: 16px;
  overflow: hidden;
  padding: 5px 30px;
  position: relative;
}
.custom-filter li.active a {
  border: 1px solid #39AB32;
}
.single-product{
  position: relative;
  margin-bottom: 30px;
  padding: 0 0 5px;
}
.single-product::before {
  background-image:url("../img/corner.png");
  bottom: -15px;
  content: "";
  height: 208px;
  position: absolute;
  right: -16px;
  width: 209px;
  z-index: -5;
}
.product-items {
  margin: 40px 0 0;
}
.product-image {
  /*height: 360px;*/
  position: relative;
  overflow: hidden;
}
.product-image img {
  width: 100%;
  transition: all 300ms ease-in 0s;
  -moz-transition: all 300ms ease-in 0s;
  -ms-transition: all 300ms ease-in 0s;
  -o-transition: all 300ms ease-in 0s;
  -webkit-transition: all 300ms ease-in 0s;
}
.single-product:hover .product-image img{
  transform:scale(1.2);
}
.launched {
  background: #7ed956 none repeat scroll 0 0;
  border-radius: 25px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  left: 5px;
  padding: 5px 15px;
  position: absolute;
  text-transform: uppercase;
  top: 5px;
  z-index: 15;
}
.launched.discount {
  left: 5px;
  top: 38px;
}
.product-price {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  bottom: 5px;
  padding: 5px 15px;
  position: absolute;
  right: 0;
}
ul.product-price li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  margin:0 5px;
}
li.old-price {
  text-decoration: line-through;
}
.actions {
  position: absolute;
  right: 5px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}
.add-to-link li{
  opacity: 0;
  margin-left:40px;
}
.add-to-link li a {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #7ed956;
  border-radius: 50%;
  color: #7ed956;
  display: inline-block;
  height: 30px;
  line-height: 26px;
  margin-bottom: 5px;
  width: 30px;
}
.add-to-link li a:hover {
  background-color: #7ed956;
  color: #ffffff;
}
.add-to-link > li:nth-child(1){
  transition: all 300ms ease-in 0s;
}
.add-to-link > li:nth-child(2){
  transition: all 500ms ease-in 0s;
}
.add-to-link > li:nth-child(3){
  transition: all 700ms ease-in 0s;
}
.add-to-link > li:nth-child(4){
  transition: all 900ms ease-in 0s;
}
.single-product:hover .add-to-link li{
  opacity: 1;
  margin-left: 0;
}
h3.product-title > a {
  color: #353535;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  text-transform: uppercase;
}
.product-rating {
  color: #33d286;
  font-size: 16px;
}
/*---------why choose us section-----------*/
.why-choose-left {
  width: 50%;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.why-choose-left::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(0,0,0,0.5);*/
  content: "";
}
.why-choose-right {
  width: 50%;
}
/*------------our feature products-------*/
.leftForm {
  align-items: center;
  background-position: center center;
  background-size: cover;
  display: flex;
  float: left;
  padding: 50px 30px;
  position: relative;
  width: 50%;
}
.leftForm::before {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.featureFormStyles {
  position: relative;
  width: 100%;
}
.formHeader h3 span {
  background: #39AB32 none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 20px 40px;
  text-transform: uppercase;
}
.featureFormContainer {
  background: #fff none repeat scroll 0 0;
  height: calc(90% - 10px);
  padding: 30px;
}
.featureForm {
  margin: 30px 0 0;
}
.custInputs {
  position: relative;
}
.featureForm .form-control {
  background: #fafbfc none repeat scroll 0 0;
  border: 1px solid #f1f3f5;
  font-size: 13px;
  height: 40px;
  padding: 6px 12px 6px 52px;
}
.featureForm i {
  background: #39AB32;
  color: #ffffff;
  font-size: 16px;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}
.featureForm i {
  left: 0;
  position: absolute;
  top: 0;
}
.featureForm textarea.form-control {
  min-height: 100px;
  resize: vertical;
}
.rightFeatures {
  background: #000;
  float: left;
  min-height: 610px;
  position: relative;
  width: 50%;
  padding: 50px 30px;
}
h3.clrWhite, p.clrWhite {
    color: #fff;
}
.home-heading h3.clrWhite::after {
  background: #fff;
}
.histryHolder {
  position: relative;
}
.histryHolder {
  padding: 40px 50px 40px 100px;
  position: relative;
}
.historyPannel li .histryHolder h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.histryHolder p {
  color: #c0c0c0;
  letter-spacing: 0.8px;
}
span.yearHistory {
  background: #39AB32 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  height: 75px;
  left: 0;
  letter-spacing: 1px;
  line-height: 75px;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 75px;
}
span.yearHistory::after {
  border: 2px solid #ffffff;
  border-radius: 50%;
  content: "";
  height: 85px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 85px;
}
/*------------Testimonials----------*/
.testimonials {
  background-size: cover;
  background-position: center center;
}
.testimonials::after {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.client-left {
  width: 25%;
  position: relative;
  z-index: 1;
}
.client-block {
  position: relative;
  background: #fff;
  padding: 16px;
  border: 1px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  border-radius: 30px 4px;
  border: 1px solid #e5e5e5;
}
.client-image img {
  border: 4px solid #404040;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.client-right {
  padding: 35px 30px 0;
  position: relative;
}
.client-says .item {
  padding: 50px 0px;
  -webkit-transform: scale(0.8);-moz-transform: scale(0.8);-ms-transform: scale(0.8);-o-transform: scale(0.8);transform: scale(0.8);
  transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;
}
.client-says .owl-item.active.center .item { 
  -webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1);
}
.client-tell {
  line-height: 20px;
  font-size: 13px;
  position: relative;
  padding: 15px 0px;
  color: #bbbbbb;
}
.client-posts h3 {
  color: #4EB869;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}
.client-posts p {
  color: #808080;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.5px;
}
.client-posts {
  padding: 0 15px;
}
.client-right .owl-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.client-block .clearfix {
  margin-top: -40px;
}
.client-posts {
  padding: 40px 15px 0;
}
/*-------------help buttns here----------*/
.quickHelp {
  position: fixed;
  z-index: 1010;
  right: 15px;
  bottom: 15px;
}
.quickHelp a {
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  background: #eb1c25;
  text-align: center;
  line-height: 45px;
  font-size: 24px;
  box-shadow: 0 3px 10px rgba(0,0,0,.3);
  margin: 10px;
}
.contactus-wrapper {
  position: fixed;
  right: 80px;
  bottom: 0;
}
.modal-sm {
  width: 440px;
}
.modal-footer, .modal-header {
  padding: 20px 30px;
}
.modal-title {
  font-size: 22px;
  font-weight: 400;
}
.modal-body {
  padding: 25px 30px;
}
.contactus-wrapper .contact-info {
  padding: 0 30px 20px;
  margin: 0 -30px 20px;
  border-bottom: 1px solid #F1F1F1;
}
.contactus-wrapper h4.contact-heading {
  font-size: 16px;
  font-weight: 400;
  color: #3A3A3C;
  margin: 0 0 15px;
}
.contactus-wrapper .contact-info li {
  font-size: 14px;
  color: #ED1A24;
  margin-bottom: 5px;
  overflow: hidden;
}
.contactus-wrapper .contact-info li span {
  font-size: 14px;
  color: #414141;
  float: left;
  width: 55px;
  margin-right: 10px;
}
.contactus-wrapper .contact-info li a {
  font-size: 14px;
  color: #ED1A24;
  display: block;
  overflow: hidden;
}
.contactus-wrapper .form-control {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: ;
  height: 34px;
  font-size: 14px;
}
.contactus-wrapper form .form-group .form-control {
  color: #999;
}
.contactus-wrapper form .form-group .form-control:focus {
  color: #333;
}
.contactus-wrapper .btn-group-lg > .btn, .btn-lg {
  font-size: 13px;
  padding: 6px 40px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 29px;
  background: #3a3a3c;
  color: #fff;
  font-weight: 500;
}
.btn-lg:hover {
  color: #fff;
}
.contactus-wrapper .close, .signUpPopUp .close {
  position: absolute;
  top: 2px;
  right: 0px;
  background: #3a3a3c;
  z-index: 1;
  opacity: 1;
  padding: 5px;
  border-top-right-radius: 3px;
}
.contactus-wrapper .close img, .signUpPopUp .close img {
  width: 30px;
}
/*--------------------footer--------------*/
.footer-top {
  background: #2a2a2a none repeat scroll 0 0;
  padding: 30px 50px;
}
.footer-social li {
  display: inline-block;
  margin:0 5px;
}
.footer-social i {
  border-radius: 2px 6px;
}
.footer-nav li {
  display:block; 
  margin-bottom: 10px;
}
.footer-nav li:last-child {
  margin-bottom: 0;
}
.footer-nav a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px 0 15px;
  position: relative;
  text-transform: capitalize;
  vertical-align: middle;
  transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
}
.footer-nav a::after {
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background: transparent;
  content: "";
  border: 1px solid #fff;
  transform: rotate(-45deg);
}
.footer-nav a:hover {
  color:#F13338;  
}
.footer-nav li:last-child a::before {
  display:none; 
} 
.footer-bottom {
  color: #7b7b7b;
  font-size: 15px;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom a {
  color:#7b7b7b;
    transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out; 
}
.footer-bottom a:hover {
  color:#7ED956;  
} 
.footerBtns {
  margin: 15px 0 0;
}
.footerBtn {
  text-align: center;
  width: 100%;
  color: red;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 0;
}
.footerBtn:last-child {
  margin-bottom: 0;
}
.footerBtns .custom-btn {
  font-size: 16px;
  height: 35px;
  line-height: 20px;
  margin-bottom:5px;
}
.footerBtns .custom-btn:last-child {
  margin-bottom: 0;
}
/*-------------Middle align block-------------*/
#mCSB_1_container {
  height: 100%;
  display: table;
  width: 100%;
}
.display-middle {
  display: table-cell;
  vertical-align: middle;
}
input.form-control.password {
  position: relative;
}
input.form-control.password::after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  content: "f06e";
  font-family: fontawesome;
  color: #1087ed;
}
.login-here .relative > a {
  line-height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  color: #1087ed;
}
/*---------------steps code here-------------*/
.steps {
  margin: 0 0 50px;
}
.steps li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}
.steps li::before {
  position: absolute;
  top: 20px;
  right: -90px;
  width: 100%;
  height: 1px;
  background: #353535;
  content: "";
  z-index: -1;
}
.steps li:last-child::before {
  content: none; 
}
.steps li i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #e5e5e5;
  color: #353535;
  border: 1px solid #353535;
}
.clrRed {
  color: #F13338;
}
.name-label.wid50 {
  width: 44%;
  float: left;
  display: inline-block;
}
.BrowseProfileImage {
    position: relative;
}
/*-----------category list-----------*/
.catetoryUl li {
  float: left;
  width: 20%;
  text-align: center;
  margin-bottom: 30px;
}
.catetoryUl li i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #e5e5e5;
  color: #F13338;
  border: 1px solid #e5e5e5;
}
.catetoryUl p {
  margin-top: 5px;
  font-size: 12px;
}
.BrowseProfileImage {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px auto;
  overflow: hidden;
  margin-top:10px;
}
.BrowseProfileImage img {
  width: 100px;
}
.BrowseProfileImage input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}
/*-----------------CMS banner-----------------*/
.cmsBanner {
  height: 200px;
  margin-top: 130px;    
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.cmsBanner:after {
  position: absolute;
  left: 0;
  top: 0;
  background:rgba(16, 135, 237, 0.5);
  width: 100%;
  height: 100%;
  content: "";
}
.cmsCaption {
  color: #ffffff;
  left: 0;
  padding: 0 110px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);-webkit-transform: translateY(-50%);
  width: 50%;
  z-index: 5;
}
.cmsCaption h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 55px;
}
/*---------------CMS breadcrumbs--------------*/
.cmsBreadcrumb {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 0 110px;
  z-index: 5;
}
.cmsBreadcrumb .breadcrumb {
  background: transparent none repeat scroll 0 0;
  margin: 0;
  padding: 5px 0;
}
.cmsBreadcrumb .breadcrumb > .active {
  color: #000;
}
.cmsBreadcrumb .breadcrumb a {
  color: #fff;
}
/*---------------FAQS section-----------------*/
.faqAnswers .question {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin: 0 0 30px;
  padding: 0 0 20px 0;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
.faqAnswers .panel-group .panel {
  border: 0 none;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: none;
}
.faqAnswers .panel-heading {
  background-color: transparent;
}
.faqAnswers .panel-body {
  border: 0 !important;
}
.question a {
  color: #353535;
  padding: 0 30px 0 0;
  position: relative;
  display: block;
}
.collapser i {
  background: #e5e5e5 none repeat scroll 0 0;
  border-radius: 50%;
  font-size: 20px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  width: 25px;
  position: absolute;
  right: 0;
  color: #808080;
  top: 50%;
  transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);-webkit-transform: translateY(-50%);
}
.collapsed .collapser i::before {
  content: "\f107";
  font-family: fontawesome;
}
.line {
  background: #353535 none repeat scroll 0 0;
  bottom: 15px;
  content: "";
  display: block;
  height: 1px;
  left: 10px;
  position: absolute;
  width: 0%;
  -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
.line::after {
  position: absolute;
  left: -10px;
  width: 10px;
  height: 10px;
  background: #353535;
  content: "";
  bottom: -4px;
  -webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0);
  -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
.question:hover .line {
  width: 100%;
}
.question:hover ::after {
  -webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);
}
.faqAnswers {
  height: 100%;
  padding: 80px 110px;
  width: 100%;
}
.faqAnsBlock {
  border-bottom: 1px solid #333333;
  margin: 0 0 30px;
}
.panel-heading .faqAnsBlock {
  border-color: #cccccc;
}
.faqAnsBlock:last-child {
  margin-bottom: 0;
}
.faqAnsBlock h3.question {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}
.faqAnsBlock p {
  color: #858585;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 30px;
  padding-bottom: 20px;
}
.faqsPage .faqsContainer .mCSB_scrollTools {
  opacity: 0 !important;
}
/*--------------featured clients-------*/
#partnerSlider .owl-stage-outer {
  margin: 50px 0 20px;
}
.featuredPartner {
  padding: 50px;
}
.featuredPartner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  content: "";
}
.featuredPartner .home-heading h3 {
  color: #fff;
}
.home-heading h3::after {
  background: #fff none repeat scroll 0 0;
}
.partnerImage {
  padding: 0 10px;
}
/*--------------About Us-------------*/
.cms-content {
  background-color: #f7f7f7;
  padding: 75px 0;
  width: 100%;
}
.about-image > img {
  width: 100%;
}
.inline-span {
  display: inline-block !important;
}
.what-we-are {
  padding: 75px 0;
}
.cust-tabpanel {
  padding: 40px 0 0;
}
.cust-tabpanel .tab-content {
  border-width:0px 1px 1px 1px; border-color: #e5e5e5; border-style: solid; padding: 15px;
}
/*------------contact us----------*/
.contact-frm-hold {
  margin: 30px 0 0; 
}
.contact-us .contact-hold {
  text-align: center;
}
.contact-hold {
  display: block;
  min-height: 196px;
  padding: 15px 35px;
  position: relative;
  transition: all 0.4s ease-in 0s;
  width: 100%;
}
.contact-hold::before {
  background-color: #1087ed;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transition: all 0.4s ease-in 0s;
  width: 0;
}
.contact-hold:hover::before {
  width: 100%;
}
.contact-hold:hover {
    box-shadow: 0 0 8px #e5e5e5;
    transform: translateY(-5px);
}
.con-icon {
  background-color: #1087ed;
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 50px;
}
.con-icon {
  font-size: 28px;
}
.con-info h3 {
  font-size: 16px;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
.con-info > p {
  margin-bottom: 3px;
}
.contact-us .contact-hold {
  text-align: center;
}
.contact-form {
  padding: 75px 0;
}
.contact-frm-hold .content-block p {
  margin: 0;
}
/*---------------client tell arrows---------------*/
#clientSay .owl-prev, #clientSay .owl-next {
  color: #fff;
  font-size: 18px;
  height: 30px;
  line-height: 29px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  top: 50px;
  margin: 0 5px;
}
/*-----------------dashboard star here---------------*/
body.dashboardPage {
  margin-top: 90px;
}
.dashboardSection {
  padding: 50px 0 50px 0;
}
.dashboardWelcome {
  background: #f1f1f1;
  color: #2A2A2A;
  font-size: 30px;
  font-weight: 300;
  padding: 30px 0;
}
.dashboardInnerSection {
  padding: 50px 0;
}
.profilerImage {
  float: left;
  width: 50%;
}
.profilerImage img {
  width: 100%;
}
.profilerInformation {
  width: 50%;
  float: left;
  background: #2A2A2A;
  min-height: 570px;
}
.profilerName {
  padding: 15px;
  color: #fff;
  background: #F13338;
}
.profilerName h3 {
  font-size: 30px;
  font-weight: 300;
}
.profilerName p {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 5px;
}
.profilerViews li {
  font-size: 20px;
  color: #fff;
  padding: 6px 80px 6px 15px;
  border-bottom: 1px solid #505050;
  font-weight: 200;
  position: relative;
  cursor: pointer;
}
.viewCount {
  position: absolute;
  right: 15px;
  top: 50%;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);  
}
#shareLink .modal-body {
  padding-bottom: 50px;
}
#shareLink .modal-content {
  border-radius: 0 !important;
}
/*------------person life history----------*/
.personLifeSchedule {
  padding: 50px 0;
  background: #fafafa;
}
p.tagHead {
  font-size: 22px;
  font-weight: 300;
}
.searchByTag p.desp {
  margin:15px 0 5px;
}
a.tagsBtn {
  display: block;
  border-radius: 3px;
  border: 1px dashed #F13338;
  text-align: center;
  padding: 10px 15px;
  color: #F13338;
}
.personLifeHistory {
  padding: 50px 0 0;
}
.personLifeHistory .nav-tabs li a {
  font-size: 40px;
  font-weight: 200;
  color: #808080;
}
.personLifeHistory .nav-tabs li.active a {
  color: #fff;
  background:#F13338;
  border-color: #F13338;
}
.tab-content {
  padding: 30px 0;
}
.uploadBlock {
  padding: 10px;
  font-size: 24px;
  background: #e5e5e5;
  font-weight: 300;
  position: relative;
}
.addButtons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
  right: 10px;
}
.listUpload {
  margin: 0 -15px;
  padding: 20px 0;
}
.uploadingHolder {
  margin-bottom: 30px;
}
ul.listUpload li {
  width: 20%;
  float: left;
  padding: 0 15px;
  margin-bottom: 15px;
}
ul.listUpload li img {
  width: 100%;
}
.uplName {
  text-align: center;
  padding: 5px 0;
}
.deleteBtn {
  color: #fff;
  position: absolute;
  top: 5px;
  right: 20px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  background: #f13338;
  line-height: 25px;
  cursor: pointer;
}
.fileInput {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.smallText {
  font-size:12px;
  color: green;
}
.eduDetails {
  padding: 15px;
}
.headingLable {
  margin-right: 15px;
  width: 30%;
}
.profilerImage .uploadImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 0;
  background: #F13338;
  color: #fff;
}
.uploadInp {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.pdfIcon img {
  cursor: pointer;
  width: 100%;
}